<div id="footer" class="{{ if or (.Site.Params.fadeIn | default true) .Site.Params.fadeInIndex }}fade-in three{{ end }}">
    <div class="has-text-centered">
    {{ with .Site.Params.footerText }}
        {{ . | markdownify }}
    {{ else }}
        <span class="footer-text">
            {{ i18n "footer_text" . | markdownify }}
        </span>
    {{ end }}
    </div>
    <div class="has-text-centered footer-links">
        <a href="/#credits">website credits</a>
        <a href="/#privacy">privacy policy</a>
    </div>
    <div class="has-text-centered">
        <a href="http://ONION_ADDRESS">
            <img class="onion" aria-label="Link to onion service version" src="/onion-svgrepo-com.svg">
          </a>
    </div>
</div>
